.dashboardText{
 align-items: center;
margin-top: 100px;
height: 124px;
left: 389px;
top: 0px;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 62px;
text-align: center;
color: #243543;

}